{
  "openapi": "3.0.1",
  "info": {
    "description": "Photoshop v2 API Server for Adobe Firefly Services.",
    "license": {
      "name": "Adobe Creative API License",
      "url": "https://www.adobe.com/content/dam/cc/en/legal/terms/enterprise/pdfs/PSLT-AdobeCreativeAPI-WW-2024v2.pdf"
    },
    "title": "Photoshop v2 API endpoints",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://photoshop-api.adobe.io",
      "description": "Prod server."
    }
  ],
  "security": [
    {
      "Authorization": [],
      "X-Api-Key": []
    }
  ],
  "tags": [
    {
      "description": "Photoshop APIs for image processing operations",
      "name": "Photoshop APIs"
    },
    {
      "description": "APIs for retrieving job status information",
      "name": "Job Status"
    }
  ],
  "paths": {
    "/v1/auto-crop": {
      "post": {
        "description": "Generates smart crops, subject bounding boxes, and detects objects for an input image. The request is processed asynchronously. Poll GET /v2/status/{jobId} with the returned jobId for completion.",
        "operationId": "autoCrop",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoCropRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not found - Requested resource was not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "servers": [
          {
            "description": "Production server.",
            "url": "https://image.adobe.io"
          }
        ],
        "summary": "Auto crop",
        "tags": [
          "Photoshop APIs"
        ]
      }
    },
    "/v2/create-artboard": {
      "post": {
        "operationId": "createArtboard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateArtboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Create an artboard",
        "tags": [
          "Photoshop APIs"
        ]
      }
    },
    "/v2/create-composite": {
      "post": {
        "operationId": "createComposite",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompositeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Create or edit a composite",
        "tags": [
          "Photoshop APIs"
        ]
      }
    },
    "/v2/edit": {
      "post": {
        "operationId": "edit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Edit an image with various adjustments",
        "tags": [
          "Photoshop APIs"
        ]
      }
    },
    "/v2/execute-actions": {
      "post": {
        "operationId": "executeActions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Execute Photoshop actions, scripts, and transformations",
        "tags": [
          "Photoshop APIs"
        ]
      }
    },
    "/v2/generate-manifest": {
      "post": {
        "operationId": "generateManifest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateManifestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Generate a manifest for given input image",
        "tags": [
          "Photoshop APIs"
        ]
      }
    },
    "/v2/status/{jobId}": {
      "get": {
        "description": "Retrieves the current status and details of a specific job including metadata, outputs, and processing information. Use this endpoint to poll jobs submitted to Photoshop v2 operations and POST /v1/auto-crop.",
        "operationId": "getJobStatus",
        "parameters": [
          {
            "description": "Unique identifier for the job to retrieve status information",
            "example": "550e8400-e29b-41d4-a716-446655440000",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            },
            "description": "Job status retrieved successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid job ID format or missing required parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not found - Job with the specified ID does not exist"
          }
        },
        "summary": "Get Job Status",
        "tags": [
          "Job Status"
        ]
      }
    },
    "/v2/remove-background": {
      "servers": [
        {
          "url": "https://image.adobe.io",
          "description": "Photoshop image production host."
        }
      ],
      "post": {
        "description": "This endpoint allows you to remove the background from an image. The request is processed asynchronously and the status of the running job can be checked with the Get Job Status endpoint. This path uses the Photoshop image production host; other endpoints in this reference default to the Photoshop API production host unless otherwise noted.",
        "operationId": "removeBackground",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBackgroundV2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Remove the background from an image",
        "tags": [
          "Photoshop APIs"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ActionResource": {
        "type": "object",
        "description": "Single Photoshop action resource (.atn or inline actionJSON). When present, the 'source' field is required.",
        "properties": {
          "actionName": {
            "type": "string",
            "description": "The name of a specific action to execute within the action set. If omitted, all actions in the file are executed."
          },
          "source": {
            "description": "Source for the action. Can be external file reference or inline actionJSON content. Inline actionJSON can use placeholders `__ADDITIONAL_CONTENTS_PATH_0__`, `__ADDITIONAL_CONTENTS_PATH_1__`, etc. which will be replaced at runtime with the file paths of the corresponding additional images. Legacy format `ACTION_JSON_OPTIONS_ADDITIONAL_IMAGES_0` is also supported for backward compatibility.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CreativeCloudFileIdResourceInput"
              },
              {
                "$ref": "#/components/schemas/CreativeCloudResourceInput"
              },
              {
                "$ref": "#/components/schemas/InlineContentResourceInput"
              },
              {
                "$ref": "#/components/schemas/LightroomResourceInput"
              },
              {
                "$ref": "#/components/schemas/UrlResourceInput"
              }
            ]
          }
        },
        "required": [
          "source"
        ]
      },
      "ActionsOptions": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "description": "List of Photoshop actions. Can be .atn files or inline actionJSON. Optional.",
            "items": {
              "$ref": "#/components/schemas/ActionResource"
            },
            "maxItems": 10,
            "minItems": 0
          },
          "additionalContents": {
            "type": "array",
            "description": "List of additional resources. Optional. These images, js, brushes can be referenced in inline actionJSON or in UXPusing placeholders `__ADDITIONAL_CONTENTS_PATH_0__`, `__ADDITIONAL_CONTENTS_PATH_1__`, etc. based on their array index.",
            "items": {
              "$ref": "#/components/schemas/AdditionalContentResource"
            },
            "maxItems": 25,
            "minItems": 0
          },
          "brushes": {
            "type": "array",
            "description": "List of brush resources. External references only. Optional.",
            "items": {
              "$ref": "#/components/schemas/BrushResource"
            },
            "maxItems": 10,
            "minItems": 0
          },
          "fontOptions": {
            "$ref": "#/components/schemas/FontOptions",
            "description": "Font options configuration. Optional."
          },
          "patterns": {
            "type": "array",
            "description": "List of pattern resources. External references only. Optional.",
            "items": {
              "$ref": "#/components/schemas/PatternResource"
            },
            "maxItems": 10,
            "minItems": 0
          },
          "uxp": {
            "$ref": "#/components/schemas/UxpResource",
            "description": "An UXP plugin script that can be executed, Optional."
          }
        }
      },
      "ActionsRequest": {
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/ImageSource",
            "description": "The image input for the actions operation. Required."
          },
          "options": {
            "$ref": "#/components/schemas/ActionsOptions",
            "description": "Options configuration for the actions execution. At least one of actions or uxp is required."
          },
          "outputs": {
            "type": "array",
            "description": "List of output asset details. Required. Maximum of 25 outputs allowed.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JpegOutput"
                },
                {
                  "$ref": "#/components/schemas/JsonOutput"
                },
                {
                  "$ref": "#/components/schemas/PngOutput"
                },
                {
                  "$ref": "#/components/schemas/PsdOutput"
                },
                {
                  "$ref": "#/components/schemas/PsdcOutput"
                },
                {
                  "$ref": "#/components/schemas/TiffOutput"
                }
              ]
            },
            "maxItems": 25,
            "minItems": 1
          }
        },
        "required": [
          "image",
          "options",
          "outputs"
        ]
      },
      "AddAdjustmentLayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "adjustments": {
                "description": "Adjustment settings to apply. Must specify exactly one adjustment type (brightness_contrast, hue_saturation, exposure, or color_balance).",
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BrightnessContrastAdjustments"
                  },
                  {
                    "$ref": "#/components/schemas/ColorBalanceAdjustments"
                  },
                  {
                    "$ref": "#/components/schemas/ExposureAdjustments"
                  },
                  {
                    "$ref": "#/components/schemas/HueSaturationAdjustments"
                  }
                ]
              },
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions",
                "description": "Blend options for the layer"
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Defaults to false when adding layers."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "layerEffects": {
                "$ref": "#/components/schemas/LayerEffects",
                "description": "Layer Style effects applied to the layer (e.g. drop shadow). Optional."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask",
                "description": "Pixel mask applied to the layer."
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform",
                "description": "Transform applied to the layer"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' — applies no scaling. 'fit' — scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' — scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' — applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Type of layer.  Required for add/edit operations, optional for delete/move.",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ],
        "description": "Adjustment layer for applying image adjustments like brightness, contrast, hue/saturation, etc.",
        "required": [
          "adjustments",
          "operation"
        ]
      },
      "AddBackgroundLayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions",
                "description": "Blend options for the layer"
              },
              "image": {
                "$ref": "#/components/schemas/ImageSource",
                "description": "Image content including source URL for the background layer pixel content. Optional."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "layerEffects": {
                "$ref": "#/components/schemas/LayerEffects",
                "description": "Layer Style effects applied to the layer (e.g. drop shadow). Optional."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask",
                "description": "Pixel mask applied to the layer."
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform",
                "description": "Transform applied to the layer"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' — applies no scaling. 'fit' — scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' — scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' — applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Type of layer.  Required for add/edit operations, optional for delete/move.",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ],
        "description": "Background layer for adding a background to the document.",
        "required": [
          "operation"
        ]
      },
      "AddLayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions",
                "description": "Blend options for the layer"
              },
              "image": {
                "$ref": "#/components/schemas/ImageSource",
                "description": "Image content including source URL. Supported file formats: PSD, PNG, JPEG, SVG. Required when adding a layer."
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Defaults to false when adding layers."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "layerEffects": {
                "$ref": "#/components/schemas/LayerEffects",
                "description": "Layer Style effects applied to the layer (e.g. drop shadow). Optional."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask",
                "description": "Pixel mask applied to the layer."
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform",
                "description": "Transform applied to the layer"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' — applies no scaling. 'fit' — scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' — scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' — applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Type of layer.  Required for add/edit operations, optional for delete/move.",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ],
        "description": "Image layer for adding raster images to the document.",
        "required": [
          "image",
          "operation"
        ]
      },
      "AddOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Operation"
          },
          {
            "type": "object",
            "properties": {
              "placement": {
                "$ref": "#/components/schemas/Placement",
                "description": "Placement settings for the add operation. Required for non-background layers."
              }
            }
          }
        ],
        "description": "Add operation for adding layers.",
        "required": [
          "placement",
          "type"
        ]
      },
      "AddSmartObjectLayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions",
                "description": "Blend options for the layer"
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Defaults to false when adding layers."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "layerEffects": {
                "$ref": "#/components/schemas/LayerEffects",
                "description": "Layer Style effects applied to the layer (e.g. drop shadow). Optional."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask",
                "description": "Pixel mask applied to the layer."
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "smartObject": {
                "$ref": "#/components/schemas/SmartObject",
                "description": "Smart object settings and file reference. Required."
              },
              "transform": {
                "$ref": "#/components/schemas/Transform",
                "description": "Transform applied to the layer"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' — applies no scaling. 'fit' — scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' — scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' — applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Type of layer.  Required for add/edit operations, optional for delete/move.",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ],
        "description": "Smart object layer for embedding external files or vector graphics.",
        "required": [
          "operation",
          "smartObject"
        ]
      },
      "AddSolidColorLayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions",
                "description": "Blend options for the layer"
              },
              "fill": {
                "$ref": "#/components/schemas/Fill",
                "description": "Fill settings including color. Required."
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Defaults to false when adding layers."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "layerEffects": {
                "$ref": "#/components/schemas/LayerEffects",
                "description": "Layer Style effects applied to the layer (e.g. drop shadow). Optional."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask",
                "description": "Pixel mask applied to the layer."
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform",
                "description": "Transform applied to the layer"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' — applies no scaling. 'fit' — scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' — scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' — applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Type of layer.  Required for add/edit operations, optional for delete/move.",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ],
        "description": "Fill layer for adding solid color layer.",
        "required": [
          "fill",
          "operation"
        ]
      },
      "AddTextLayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions",
                "description": "Blend options for the layer"
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Defaults to false when adding layers."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "layerEffects": {
                "$ref": "#/components/schemas/LayerEffects",
                "description": "Layer Style effects applied to the layer (e.g. drop shadow). Optional."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask",
                "description": "Pixel mask applied to the layer."
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "text": {
                "$ref": "#/components/schemas/Text",
                "description": "Text content and formatting settings for this text layer."
              },
              "transform": {
                "$ref": "#/components/schemas/Transform",
                "description": "Transform applied to the layer"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' — applies no scaling. 'fit' — scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' — scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' — applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Type of layer.  Required for add/edit operations, optional for delete/move.",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ],
        "description": "Text layer for adding text content in the document.",
        "required": [
          "operation",
          "text"
        ]
      },
      "AdditionalContentResource": {
        "type": "object",
        "description": "Single additional resource (images, js, brushes, etc.). When present, the 'source' field is required.",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/PortableFileResourceInput",
            "description": "Source for the additional resource. Must be a URL, Creative Cloud path, or Creative Cloud file ID. Lightroom resources are not supported here. Inline content is not supported. These resources can be referenced in inline actionJSON using placeholders `__ADDITIONAL_CONTENTS_PATH_0__`, `__ADDITIONAL_CONTENTS_PATH_1__`, etc."
          }
        },
        "required": [
          "source"
        ]
      },
      "AdditionalFont": {
        "type": "object",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/PortableFileResourceInput",
            "description": "Source of the font file. Must be a URL, Creative Cloud path, or Creative Cloud file ID. Lightroom resources are not supported for fonts. Required."
          }
        }
      },
      "Anchor": {
        "type": "object",
        "description": "Anchor point coordinates for transformations and positioning.",
        "properties": {
          "horizontal": {
            "type": "number",
            "format": "double",
            "description": "Horizontal anchor position. Required."
          },
          "vertical": {
            "type": "number",
            "format": "double",
            "description": "Vertical anchor position. Required."
          }
        },
        "required": [
          "horizontal",
          "vertical"
        ]
      },
      "Apply": {
        "type": "object",
        "description": "Inclusive range (from/to) for character or paragraph styling. When present, both 'from' and 'to' are required.",
        "properties": {
          "from": {
            "type": "integer",
            "format": "int32",
            "description": "From value. Required.",
            "minimum": 0
          },
          "to": {
            "type": "integer",
            "format": "int32",
            "description": "To value. Required.",
            "minimum": 0
          }
        },
        "required": [
          "from",
          "to"
        ]
      },
      "AreaFrame": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TextFrame"
          },
          {
            "type": "object",
            "properties": {
              "bounds": {
                "$ref": "#/components/schemas/Bounds",
                "description": "Area boundaries"
              }
            }
          }
        ],
        "description": "Area text frame defining a bounded rectangular region for text content. Text will wrap within the specified bounds",
        "required": [
          "type"
        ]
      },
      "ArtboardImageInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the artboard. Optional. Defaults to rendition dimensions (e.g. \"1920 x 1080\").",
            "maxLength": 255,
            "minLength": 1
          },
          "source": {
            "$ref": "#/components/schemas/FileResourceInput",
            "description": "Source of the image. Must be an external file reference (URL, Creative Cloud file ID, or Creative Cloud path). Required.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/UrlResourceInput"
              },
              {
                "$ref": "#/components/schemas/CreativeCloudResourceInput"
              },
              {
                "$ref": "#/components/schemas/CreativeCloudFileIdResourceInput"
              }
            ]
          }
        },
        "required": [
          "source"
        ]
      },
      "AutoStraighten": {
        "type": "object",
        "description": "Auto straighten configuration with options",
        "properties": {
          "constrainCrop": {
            "type": "boolean",
            "default": true,
            "description": "Whether to constrain crop the straightened image to remove blank edges"
          },
          "enabled": {
            "type": "boolean",
            "default": false,
            "description": "Whether auto straighten is enabled. Defaults to false when omitted. Explicit null is invalid."
          },
          "uprightMode": {
            "type": "string",
            "description": "The upright mode to use for straightening. When not specified, performs basic straighten without upright correction (V1 behavior). Specify a mode to enable upright correction.",
            "enum": [
              "auto",
              "full",
              "level",
              "vertical"
            ]
          }
        },
        "required": [
          "enabled"
        ]
      },
      "AutoCropAspectRatio": {
        "type": "string",
        "description": "Desired aspect ratio for generated crops.",
        "enum": [
          "1:1",
          "16:9",
          "9:16",
          "4:3",
          "3:4",
          "4:5",
          "5:4",
          "3:2",
          "2:3",
          "21:9"
        ]
      },
      "AutoCropBoundingBox": {
        "required": [
          "x",
          "y",
          "width",
          "height"
        ],
        "type": "object",
        "properties": {
          "height": {
            "type": "number",
            "description": "Height of the bounding box."
          },
          "url": {
            "type": "string",
            "description": "Presigned URL for the cropped image. Only present when outputType is 'images'."
          },
          "width": {
            "type": "number",
            "description": "Width of the bounding box."
          },
          "x": {
            "type": "number",
            "description": "X coordinate of the bounding box."
          },
          "y": {
            "type": "number",
            "description": "Y coordinate of the bounding box."
          }
        }
      },
      "AutoCropCrop": {
        "required": [
          "boundingBoxes"
        ],
        "type": "object",
        "properties": {
          "boundingBoxes": {
            "type": "array",
            "description": "List of bounding boxes for the generated crop.",
            "items": {
              "$ref": "#/components/schemas/AutoCropBoundingBox"
            }
          }
        }
      },
      "AutoCropImageMediaType": {
        "type": "string",
        "description": "The media type of the input image. Supported values are image/jpeg, image/png, and image/webp.",
        "enum": [
          "image/jpeg",
          "image/png",
          "image/webp"
        ]
      },
      "AutoCropInputImage": {
        "required": [
          "source"
        ],
        "type": "object",
        "properties": {
          "mediaType": {
            "$ref": "#/components/schemas/AutoCropImageMediaType"
          },
          "source": {
            "$ref": "#/components/schemas/AutoCropUrlResource"
          }
        },
        "description": "The input image for the auto-crop operation."
      },
      "AutoCropMode": {
        "type": "string",
        "description": "Mode for the auto crop operation. 'smartCrop' and 'subjectCrop' generate crops using aspectRatio with optional zoom. 'fullSceneDetection' and 'objectDetection' detect subjects or objects in the scene.",
        "enum": [
          "smartCrop",
          "subjectCrop",
          "fullSceneDetection",
          "objectDetection"
        ]
      },
      "AutoCropObjectDetection": {
        "required": [
          "objectName",
          "boundingBoxes",
          "confidence"
        ],
        "type": "object",
        "properties": {
          "boundingBoxes": {
            "type": "array",
            "description": "Bounding boxes enclosing the detected object in {x, y, width, height} format.",
            "items": {
              "$ref": "#/components/schemas/AutoCropBoundingBox"
            }
          },
          "confidence": {
            "type": "number",
            "description": "Confidence score for the detected object."
          },
          "objectName": {
            "type": "string",
            "description": "Name of the detected object."
          }
        }
      },
      "AutoCropOutput": {
        "required": [
          "subject",
          "objects",
          "crops"
        ],
        "type": "object",
        "properties": {
          "crops": {
            "type": "array",
            "description": "Generated crops for the input image.",
            "items": {
              "$ref": "#/components/schemas/AutoCropCrop"
            }
          },
          "objects": {
            "type": "array",
            "description": "Detected objects in the input image.",
            "items": {
              "$ref": "#/components/schemas/AutoCropObjectDetection"
            }
          },
          "subject": {
            "type": "array",
            "description": "Subject crops detected in the input image.",
            "items": {
              "$ref": "#/components/schemas/AutoCropCrop"
            }
          }
        },
        "description": "Auto crop output details."
      },
      "AutoCropOutputType": {
        "type": "string",
        "description": "Output type for the auto crop operation. 'images' returns cropped images with presigned URLs (default). 'boundingBoxes' returns only bounding box coordinates.",
        "default": "images",
        "enum": [
          "images",
          "boundingBoxes"
        ]
      },
      "AutoCropRequest": {
        "required": [
          "image",
          "mode"
        ],
        "type": "object",
        "properties": {
          "aspectRatio": {
            "description": "Desired aspect ratio(s) for generated crops. Accepts either a single enum string or an array of up to 20 strings. Allowed only for 'smartCrop' and 'subjectCrop'. When omitted, the service defaults to 1:1. An empty array is treated as absent.",
            "example": [
              "16:9",
              "1:1",
              "4:3"
            ],
            "oneOf": [
              {
                "$ref": "#/components/schemas/AutoCropAspectRatio"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AutoCropAspectRatio"
                }
              }
            ]
          },
          "focus": {
            "type": "array",
            "description": "Focus labels, ordered by preference, used to prioritize objects during cropping or as detection targets. Required for 'subjectCrop' and 'objectDetection'; must be empty for 'smartCrop' and 'fullSceneDetection'.",
            "example": [
              "logo",
              "person"
            ],
            "items": {
              "type": "string"
            }
          },
          "image": {
            "$ref": "#/components/schemas/AutoCropInputImage"
          },
          "mode": {
            "$ref": "#/components/schemas/AutoCropMode"
          },
          "outputType": {
            "$ref": "#/components/schemas/AutoCropOutputType"
          },
          "zoom": {
            "description": "Optional zoom level(s) paired with aspectRatio. Accepts either a number or an array of up to 20 numbers in (0, 1]. Must not be sent without aspectRatio. When aspectRatio is an array, zoom may be omitted or must be a matching non-empty array.",
            "example": [
              0.9,
              0.8,
              0.85
            ],
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            ]
          }
        }
      },
      "AutoCropUrlResource": {
        "required": [
          "url"
        ],
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL of the resource. Only allow-listed domains are accepted as input URLs (e.g. amazonaws.com, windows.net, dropboxusercontent.com, assets.frame.io, storage.googleapis.com, adobe.io, azureedge.net)."
          }
        },
        "description": "The source of the input image."
      },
      "BaseAdjustment": {
        "type": "object",
        "discriminator": {
          "propertyName": "type"
        },
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of adjustment. Must match one of the supported types: hue_saturation, brightness_contrast, exposure, or color_balance.",
            "enum": [
              "hue_saturation",
              "brightness_contrast",
              "exposure",
              "color_balance"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "BlendOptions": {
        "type": "object",
        "description": "Blend options for layer effects, including opacity settings.",
        "properties": {
          "blendMode": {
            "type": "string",
            "description": "Blend mode for the layer. Defaults to normal when adding new layers. Optional for edits.",
            "enum": [
              "normal",
              "dissolve",
              "darken",
              "multiply",
              "color_burn",
              "linear_burn",
              "darker_color",
              "lighten",
              "screen",
              "color_dodge",
              "linear_dodge",
              "lighter_color",
              "overlay",
              "soft_light",
              "hard_light",
              "vivid_light",
              "pin_light",
              "hard_mix",
              "difference",
              "exclusion",
              "divide",
              "hue",
              "saturation",
              "color",
              "luminosity"
            ]
          },
          "opacity": {
            "type": "integer",
            "format": "int32",
            "description": "Opacity percentage for the blend effect. Range: 0-100. Defaults to 100 when adding new layers. Optional for edits.",
            "maximum": 100,
            "minimum": 0
          }
        }
      },
      "Bounds": {
        "type": "object",
        "properties": {
          "bottom": {
            "type": "integer",
            "format": "int32",
            "description": "Bottom coordinate in pixels. Optional."
          },
          "left": {
            "type": "integer",
            "format": "int32",
            "description": "Left coordinate in pixels. Optional."
          },
          "right": {
            "type": "integer",
            "format": "int32",
            "description": "Right coordinate in pixels. Optional."
          },
          "top": {
            "type": "integer",
            "format": "int32",
            "description": "Top coordinate in pixels. Optional."
          }
        }
      },
      "BrightnessContrast": {
        "type": "object",
        "properties": {
          "brightness": {
            "type": "integer",
            "format": "int32",
            "description": "The adjustment layer's brightness. Range: -150 to 150. Defaults to 0 when adding new layers. Optional for edits",
            "maximum": 150,
            "minimum": -150
          },
          "contrast": {
            "type": "integer",
            "format": "int32",
            "description": "The adjustment layer's contrast. Range: -150 to 150. Defaults to 0 when adding new layers. Optional for edits",
            "maximum": 150,
            "minimum": -150
          }
        }
      },
      "BrightnessContrastAdjustments": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseAdjustment"
          },
          {
            "type": "object",
            "properties": {
              "brightnessContrast": {
                "$ref": "#/components/schemas/BrightnessContrast",
                "description": "Brightness and contrast adjustment settings"
              }
            }
          }
        ],
        "description": "Brightness and contrast adjustment",
        "required": [
          "brightnessContrast",
          "type"
        ]
      },
      "BrushResource": {
        "type": "object",
        "description": "Single brush resource (.abr, etc.). When present, the 'source' field is required.",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/PortableFileResourceInput",
            "description": "Source for the brush resource. Must be a URL, Creative Cloud path, or Creative Cloud file ID. Lightroom resources are not supported for brushes. Inline content is not supported."
          }
        },
        "required": [
          "source"
        ]
      },
      "CharacterStyle": {
        "type": "object",
        "description": "Character-level styling properties for text.",
        "properties": {
          "autoLeading": {
            "type": "boolean",
            "default": false,
            "description": "When true, line height is calculated automatically based on the font size. When false, custom lineHeight is applied. Optional."
          },
          "capsOption": {
            "type": "string",
            "description": "Caps option for text. Optional. Default is normal_caps.",
            "enum": [
              "normal_caps",
              "small_caps",
              "all_caps",
              "all_small_caps"
            ]
          },
          "font": {
            "$ref": "#/components/schemas/Font",
            "description": "Font definition. Optional."
          },
          "fontAlpha": {
            "type": "number",
            "format": "double",
            "description": "Font alpha/transparency value. Optional. Default is 1.0.",
            "maximum": 1,
            "minimum": 0
          },
          "fontColor": {
            "$ref": "#/components/schemas/FontColor",
            "description": "Font color settings. Optional. Default is black in RGB."
          },
          "fontSize": {
            "type": "number",
            "format": "double",
            "description": "Font size in pixels. Optional. Default is 30."
          },
          "letterSpacing": {
            "type": "number",
            "format": "double",
            "description": "Letter spacing in pixels. Optional. Default is 0."
          },
          "lineHeight": {
            "type": "number",
            "format": "double",
            "default": 36,
            "description": "Line height (leading) in pixels. Optional. This value represents the unscaled leading stored on the character style. If the text layer carries a non-identity transform, for example because the bounding box was resized in Photoshop, the rendered leading becomes lineHeight x the layer's vertical scale factor. To get exact rendered pixel leading, ensure the layer has no residual scaling (transformMode: none with no scaling Transform applied), or pre-divide the desired rendered leading by the layer's current vertical scale. The same scaling behavior applies to fontSize."
          },
          "syntheticBold": {
            "type": "boolean",
            "description": "Whether to apply synthetic bold. Optional. Default is false."
          },
          "syntheticItalic": {
            "type": "boolean",
            "description": "Whether to apply synthetic italic. Optional. Default is false."
          },
          "underline": {
            "type": "boolean",
            "description": "Whether to apply underline. Optional. Default is false."
          }
        }
      },
      "CharacterStyleRange": {
        "type": "object",
        "description": "Character style range defining styling for specific text ranges.",
        "properties": {
          "apply": {
            "$ref": "#/components/schemas/Apply",
            "description": "Range of characters to apply styling to. Optional."
          },
          "characterStyle": {
            "$ref": "#/components/schemas/CharacterStyle",
            "description": "Character style settings. Optional."
          }
        }
      },
      "ColorAdjustments": {
        "type": "object",
        "description": "Color adjustments for image editing.",
        "properties": {
          "saturation": {
            "type": "integer",
            "format": "int32",
            "description": "Saturation adjustment. Range: -100 to +100",
            "example": 20,
            "maximum": 100,
            "minimum": -100
          },
          "vibrance": {
            "type": "integer",
            "format": "int32",
            "description": "Vibrance adjustment. Range: -100 to +100",
            "example": 15,
            "maximum": 100,
            "minimum": -100
          },
          "whiteBalance": {
            "type": "string",
            "description": "White balance adjustment. Optional.",
            "enum": [
              "As Shot",
              "Auto",
              "Cloudy",
              "Custom",
              "Daylight",
              "Flash",
              "Fluorescent",
              "Shade",
              "Tungsten"
            ],
            "example": "As Shot"
          }
        }
      },
      "ColorBalance": {
        "type": "object",
        "properties": {
          "highlightLevels": {
            "type": "array",
            "description": "Array of 3 integers for highlight levels. Each value must be between -100 and 100. Defaults to [0, 0, 0] when adding new layers. Optional for edits",
            "items": {
              "type": "integer",
              "format": "int32",
              "maximum": 100,
              "minimum": -100
            },
            "maxItems": 3,
            "minItems": 3
          },
          "midtoneLevels": {
            "type": "array",
            "description": "Array of 3 integers for midtone levels. Each value must be between -100 and 100. Defaults to [0, 0, 0] when adding new layers. Optional for edits",
            "items": {
              "type": "integer",
              "format": "int32",
              "maximum": 100,
              "minimum": -100
            },
            "maxItems": 3,
            "minItems": 3
          },
          "preserveLuminosity": {
            "type": "boolean",
            "description": "Whether to preserve luminosity. Defaults to true when adding new layers. Optional for edits"
          },
          "shadowLevels": {
            "type": "array",
            "description": "Array of 3 integers for shadow levels. Each value must be between -100 and 100. Defaults to [0, 0, 0] when adding new layers. Optional for edits",
            "items": {
              "type": "integer",
              "format": "int32",
              "maximum": 100,
              "minimum": -100
            },
            "maxItems": 3,
            "minItems": 3
          }
        }
      },
      "ColorBalanceAdjustments": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseAdjustment"
          },
          {
            "type": "object",
            "properties": {
              "colorBalance": {
                "$ref": "#/components/schemas/ColorBalance",
                "description": "Color balance adjustment settings"
              }
            }
          }
        ],
        "description": "Color balance adjustment",
        "required": [
          "colorBalance",
          "type"
        ]
      },
      "CreateArtboardRequest": {
        "type": "object",
        "properties": {
          "artboardSpacing": {
            "type": "integer",
            "format": "int32",
            "description": "Horizontal spacing in pixels between each artboard. Defaults to 50. Optional."
          },
          "images": {
            "type": "array",
            "description": "List of input images for the artboard. Each image must have a source with an external file reference (URL, Creative Cloud file ID, or Creative Cloud path). Required.",
            "items": {
              "$ref": "#/components/schemas/ArtboardImageInput"
            },
            "maxItems": 25,
            "minItems": 1
          },
          "outputs": {
            "type": "array",
            "description": "List of output asset details. Each output specifies destination and output options. Maximum of 25 outputs allowed.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JpegOutputWithScan"
                },
                {
                  "$ref": "#/components/schemas/JsonOutput"
                },
                {
                  "$ref": "#/components/schemas/PngOutput"
                },
                {
                  "$ref": "#/components/schemas/PsdOutput"
                },
                {
                  "$ref": "#/components/schemas/PsdcOutput"
                },
                {
                  "$ref": "#/components/schemas/TiffOutput"
                }
              ]
            },
            "maxItems": 25,
            "minItems": 1
          }
        },
        "required": [
          "images",
          "outputs"
        ]
      },
      "CreateCompositeRequest": {
        "type": "object",
        "properties": {
          "edits": {
            "$ref": "#/components/schemas/Edits",
            "description": "Edits to be applied to the input asset. Optional."
          },
          "fontOptions": {
            "$ref": "#/components/schemas/FontOptions",
            "description": "Font options to be applied. Optional."
          },
          "image": {
            "description": "The image input for the composite operation. Required.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/ImageParameters"
              },
              {
                "$ref": "#/components/schemas/ImageSource"
              }
            ]
          },
          "outputs": {
            "type": "array",
            "description": "List of output asset details. Required. Maximum of 25 outputs allowed.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JpegOutputWithScan"
                },
                {
                  "$ref": "#/components/schemas/JsonOutput"
                },
                {
                  "$ref": "#/components/schemas/PngOutput"
                },
                {
                  "$ref": "#/components/schemas/PsdOutput"
                },
                {
                  "$ref": "#/components/schemas/PsdcOutput"
                },
                {
                  "$ref": "#/components/schemas/TiffOutput"
                }
              ]
            },
            "maxItems": 25,
            "minItems": 1
          }
        },
        "required": [
          "image",
          "outputs"
        ]
      },
      "CreativeCloudDestination": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Destination"
          },
          {
            "type": "object",
            "properties": {
              "creativeCloudPath": {
                "type": "string",
                "description": "Path to Creative Cloud storage. Required.",
                "minLength": 1
              },
              "creativeCloudProjectId": {
                "type": "string",
                "description": "The Creative Cloud project ID. Optional. Must be a valid URN starting with 'urn:aaid:sc:'. Example: urn:aaid:sc:US:a21c8629-413f-55d9-...",
                "pattern": "^urn:aaid:.*"
              }
            }
          }
        ],
        "required": [
          "creativeCloudPath"
        ]
      },
      "CreativeCloudFileIdResourceInput": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResourceInput"
          },
          {
            "type": "object",
            "properties": {
              "creativeCloudFileId": {
                "type": "string",
                "description": "The file ID of the asset in Creative Cloud. Required. Must start with 'urn:aaid' (case-insensitive).",
                "minLength": 1,
                "pattern": "^urn:aaid:.*"
              }
            }
          }
        ],
        "description": "Creative Cloud file ID resource input. References a resource via Creative Cloud file ID (URN).",
        "required": [
          "creativeCloudFileId"
        ]
      },
      "CreativeCloudResourceInput": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResourceInput"
          },
          {
            "type": "object",
            "properties": {
              "creativeCloudPath": {
                "type": "string",
                "description": "The path to the asset in Creative Cloud. Required.",
                "minLength": 1
              },
              "creativeCloudProjectId": {
                "type": "string",
                "description": "The Creative Cloud project ID. Optional. Must be a valid URN starting with 'urn:aaid:sc:'. Example: urn:aaid:sc:US:a21c8629-413f-55d9-...",
                "pattern": "^urn:aaid:.*"
              }
            }
          }
        ],
        "description": "Creative Cloud resource input. References a resource via Creative Cloud path.",
        "required": [
          "creativeCloudPath"
        ]
      },
      "Crop": {
        "type": "object",
        "description": "Options for cropping a document, specifying the bounds to crop to.",
        "properties": {
          "bounds": {
            "$ref": "#/components/schemas/Bounds",
            "description": "The bounds to crop the document to"
          },
          "hide": {
            "type": "boolean",
            "description": "When true, hides pixels outside the crop bounds (non-destructive). When false, permanently deletes pixels outside the crop bounds (destructive). Defaults to false."
          }
        },
        "required": [
          "bounds"
        ]
      },
      "CurvePoint": {
        "type": "object",
        "description": "A single point on a contour curve.",
        "properties": {
          "continuity": {
            "type": "boolean",
            "description": "Whether the curve point is smooth (true) or a corner (false). Required."
          },
          "horizontal": {
            "type": "number",
            "format": "double",
            "description": "Horizontal position of the curve point. Range: 0-255. Required.",
            "maximum": 255,
            "minimum": 0
          },
          "vertical": {
            "type": "number",
            "format": "double",
            "description": "Vertical position of the curve point. Range: 0-255. Required.",
            "maximum": 255,
            "minimum": 0
          }
        },
        "required": [
          "continuity",
          "horizontal",
          "vertical"
        ]
      },
      "CustomIccProfile": {
        "allOf": [
          {
            "$ref": "#/components/schemas/IccProfile"
          },
          {
            "type": "object",
            "properties": {
              "imageMode": {
                "type": "string",
                "description": "Image mode for custom ICC profiles. Allowed values: rgb, grayscale, cmyk. Optional",
                "enum": [
                  "rgb",
                  "grayscale",
                  "cmyk"
                ],
                "example": "rgb"
              },
              "name": {
                "type": "string",
                "description": "Custom ICC profile name. Provide a descriptive name (max 255 characters). Required.",
                "example": "U.S. Web Coated (SWOP) v2",
                "maxLength": 255,
                "minLength": 0
              },
              "source": {
                "$ref": "#/components/schemas/FileResourceInput",
                "description": "Resource input for custom ICC profile file. Required. Must point to a valid .icc or .icm file. Supports URL, Creative Cloud, and other resource types.",
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/UrlResourceInput"
                  },
                  {
                    "$ref": "#/components/schemas/CreativeCloudResourceInput"
                  },
                  {
                    "$ref": "#/components/schemas/CreativeCloudFileIdResourceInput"
                  }
                ]
              }
            }
          }
        ],
        "description": "Custom ICC profile with user-provided profile file",
        "required": [
          "name",
          "source",
          "type"
        ]
      },
      "DeleteLayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          }
        ],
        "description": "Layer for delete operations",
        "required": [
          "operation"
        ]
      },
      "DeleteOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Operation"
          },
          {
            "type": "object",
            "properties": {
              "shouldIncludeChildren": {
                "type": "boolean",
                "description": "Whether to include child layers in the deletion. Optional. Default - true"
              }
            }
          }
        ],
        "description": "Delete operation for removing layers.",
        "required": [
          "type"
        ]
      },
      "Destination": {
        "description": "Destination for output files. Can be either a URL with optional storage type or a Creative Cloud path."
      },
      "Dimension": {
        "type": "object",
        "description": "Offset coordinates for positioning elements.",
        "properties": {
          "height": {
            "type": "integer",
            "format": "int32",
            "description": "Height after transformation. Optional.",
            "maximum": 32000,
            "minimum": 0
          },
          "unit": {
            "type": "string",
            "default": "pixels_unit",
            "description": "Unit for width and height. Accepted values for transform dimensions: 'pixels_unit' (default) and 'points_unit'. Optional — omitting this field defaults to pixels_unit.",
            "enum": [
              "pixels_unit",
              "points_unit"
            ]
          },
          "width": {
            "type": "integer",
            "format": "int32",
            "description": "Width after transformation. Optional.",
            "maximum": 32000,
            "minimum": 0
          }
        }
      },
      "DimensionMeasurement": {
        "type": "object",
        "description": "Represents a dimension measurement for width or height with appropriate units.",
        "properties": {
          "unit": {
            "type": "string",
            "default": "pixels_unit",
            "description": "The unit of measurement for the dimension. 'pixels_unit' for absolute pixel measurements (default), 'percent_unit' for percentage-based scaling, 'distance_unit' for physical measurements, 'points_unit' for typographic points — converted to pixels using pixels = round(value × dpi / 72) before processing. Defaults to pixels_unit when omitted.",
            "enum": [
              "pixels_unit",
              "percent_unit",
              "distance_unit",
              "points_unit"
            ]
          },
          "value": {
            "type": "integer",
            "format": "int32",
            "description": "The value of the dimension. Must be greater than or equal to 0.",
            "minimum": 0
          }
        },
        "required": [
          "unit"
        ]
      },
      "Document": {
        "type": "object",
        "description": "Represents the editable document structure, including resize, crop and trim options. Each field corresponds to a specific type of document edit operation.",
        "properties": {
          "crop": {
            "$ref": "#/components/schemas/Crop",
            "description": "Crop options for the document. Includes bounds for cropping."
          },
          "resize": {
            "$ref": "#/components/schemas/Resize",
            "description": "Resize options for the document. Includes width, height, resolution, resample type, and booleans for constraining proportions, scaling styles, and rasterizing."
          },
          "trim": {
            "$ref": "#/components/schemas/Trim",
            "description": "Trim options for the document. Includes a 'basedOn' field to specify the trim basis."
          }
        }
      },
      "DropShadow": {
        "type": "object",
        "description": "Drop shadow layer effect.",
        "properties": {
          "angle": {
            "type": "integer",
            "format": "int32",
            "description": "Local lighting angle in degrees. Used when useGlobalLight is false. Range: -180 to 180. Optional.",
            "maximum": 180,
            "minimum": -180
          },
          "antiAliased": {
            "type": "boolean",
            "description": "Whether anti-aliasing is applied to the drop shadow contour. Optional."
          },
          "blendMode": {
            "type": "string",
            "description": "Blend mode for the drop shadow. Optional.",
            "enum": [
              "normal",
              "dissolve",
              "darken",
              "multiply",
              "color_burn",
              "linear_burn",
              "darker_color",
              "lighten",
              "screen",
              "color_dodge",
              "linear_dodge",
              "lighter_color",
              "overlay",
              "soft_light",
              "hard_light",
              "vivid_light",
              "pin_light",
              "hard_mix",
              "difference",
              "exclusion",
              "divide",
              "hue",
              "saturation",
              "color",
              "luminosity"
            ]
          },
          "color": {
            "$ref": "#/components/schemas/EffectColor",
            "description": "Color of the drop shadow. Optional."
          },
          "contour": {
            "$ref": "#/components/schemas/TransparencyShape",
            "description": "Contour applied to the drop shadow. Optional."
          },
          "distance": {
            "type": "integer",
            "format": "int32",
            "description": "Distance of the drop shadow in pixels. Range: 0-30000. Optional.",
            "maximum": 30000,
            "minimum": 0
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the drop shadow effect is enabled. Optional."
          },
          "layerKnocksOut": {
            "type": "boolean",
            "description": "Whether the layer's content knocks out (hides) the drop shadow beneath it. Optional."
          },
          "noise": {
            "type": "integer",
            "format": "int32",
            "description": "Noise applied to the drop shadow as a percentage. Range: 0-100. Optional.",
            "maximum": 100,
            "minimum": 0
          },
          "opacity": {
            "type": "integer",
            "format": "int32",
            "description": "Opacity of the drop shadow as a percentage. Range: 0-100. Optional.",
            "maximum": 100,
            "minimum": 0
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "Size of the drop shadow in pixels. Range: 0-250. Optional.",
            "maximum": 250,
            "minimum": 0
          },
          "spread": {
            "type": "integer",
            "format": "int32",
            "description": "Spread of the drop shadow as a percentage. Range: 0-100. Optional.",
            "maximum": 100,
            "minimum": 0
          },
          "useGlobalLight": {
            "type": "boolean",
            "description": "Whether to use the document's global light angle. Optional."
          }
        }
      },
      "EditAdjustmentLayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "adjustments": {
                "description": "Adjustment settings to apply. Must specify exactly one adjustment type (brightness_contrast, hue_saturation, exposure, or color_balance).",
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BrightnessContrastAdjustments"
                  },
                  {
                    "$ref": "#/components/schemas/ColorBalanceAdjustments"
                  },
                  {
                    "$ref": "#/components/schemas/ExposureAdjustments"
                  },
                  {
                    "$ref": "#/components/schemas/HueSaturationAdjustments"
                  }
                ]
              },
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions",
                "description": "Blend options for the layer"
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Optional for edits."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "layerEffects": {
                "$ref": "#/components/schemas/LayerEffects",
                "description": "Layer Style effects applied to the layer (e.g. drop shadow). Optional."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/EditPixelMask",
                "description": "Pixel mask applied to the layer. Supports delete for edit operations."
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform",
                "description": "Transform applied to the layer"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' — applies no scaling. 'fit' — scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' — scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' — applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Type of layer.  Required for add/edit operations, optional for delete/move.",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ],
        "description": "Adjustment layer for applying image adjustments like brightness, contrast, hue/saturation, etc.",
        "required": [
          "operation"
        ]
      },
      "EditBackgroundLayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions",
                "description": "Blend options for the layer"
              },
              "convertToLayer": {
                "type": "boolean",
                "description": "When true, promotes the background layer to a regular layer. Mutually exclusive with image."
              },
              "convertedLayerName": {
                "type": "string",
                "description": "Name to set on the layer after conversion. Only applicable when convertToLayer is true. Optional."
              },
              "image": {
[...]
